.glass-nav {
    background: rgba(5, 5, 5, 0.4) !important; /* Slightly more transparent for a cleaner look */
    backdrop-filter: blur(15px) !important;
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); /* Very subtle edge */
    height: 65px;
    display: flex;
    align-items: center;
}

/* Ensures no white backgrounds or weird borders from Bulma */
.navbar, .navbar-brand {
    background: transparent !important;
}

.navbar-item img {
    max-height: 40px !important;
}

@media screen and (max-width: 1023px) {
    .container {
        display: flex;
        padding-left: 1rem; /* Padding for mobile screens */
    }
}